.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0; /* Atualizado */
    padding: 0; /* Atualizado */
    background-color: #007bff;
    color: #fff;
    width: 100vw;
    margin-top: 20px;
  }
  
  .header-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .header-name {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .header-score {
    font-size: 16px;
  }
  